# Ignore models
models/*.joblib
models/*.h5

# Ignore CSV files in processed data directory
data/processed/*.csv

# Ignore all numpy files in the results directory
results/*.npy

# Ignore the results CSV file
results/*.csv

data/processed/features_data.csv

#Ignore pngs
results/rf_plots/*.png
results/svr_plots/*.png